.logobar-container {
    border-radius: 5px;
    background-color: rgba(227, 23, 81, 0.943);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-image {
    border-radius: 5px;
    max-width: 100%;
    height: 20vh;
}
